@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Trispace&family=Turret+Road&display=swap');

nav {
  z-index: 10;
  position: fixed;
  font-size: 24px;
  letter-spacing: 3px;
  padding: 25px;
  width: 100vw;
  background: rgb(29 21 20 / 100%);
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

a {
  margin-right: 25px;
  color:rgb(245, 245, 245);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: bold;
}

a:hover,
a:focus {
  color:#c0985e;
  border-bottom: 3px solid;
}
