.container {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:0;
}

#h11 {
  color: #1d1514;
  font-size: 60px;
  letter-spacing: 5px;
  font-family: 'Julius Sans One', sans-serif;
  margin-bottom: 0;
  margin-bottom: 40px;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact1 {
  margin: 20px;
  margin-bottom: 80px;
}

.logo {
  height: 200px;
  width: 200px;
}

a:hover,
a:focus {
  color:#c0985e;
  border-bottom: 3px solid;
}